<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head th:replace="~{layout/layout :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container-fluid" layout:fragment="page-content">
        <h1 th:text="${titulo}"></h1>

        <table style="margin-left: auto; margin-right: auto;">
            <tr>
                <td colspan="3" align="center"><b>Elige Un Municipio</b></td>
            </tr>
            <tr>
                <td><a class="btn btn-primary btn-user btn-block"
                       onclick="loadIframe('murcia-id30030')">Murcia</a></td>
                <td><a class="btn btn-primary btn-user btn-block" onclick="loadIframe('cartagena-id30016')">Cartagena</a>
                </td>
                <td><a class="btn btn-primary btn-user btn-block"
                       onclick="loadIframe('alacant-alicante-id03014?')">Alicante</a></td>
            </tr>
            <tr>
                <td><a class="btn btn-primary btn-user btn-block"
                       onclick="loadIframe('bullas-id30012')">Bullas</a></td>
                <td><a class="btn btn-primary btn-user btn-block"
                       onclick="loadIframe('nerpio-id02055?')">Nerpio</a></td>
                <td><a class="btn btn-primary btn-user btn-block" onclick="loadIframe('register')">Orihuela</a>
                </td>
            </tr>

        </table>

        <hr> <!-- Línea separadora -->

        <iframe name="iframe_aemet_id33044" width="100%" height="200px" tabindex="0" id="iframe_aemet_id33044"
                frameborder="0" scrolling="no"></iframe>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Numero de Pluviometros</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="pluviometros-count">0</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!--OTRO SCRIPTS PARA PAGINAS-->
    <th:block layout:fragment="page-scripts">
        <!--<script src="js/comunes.js"></script> -->
       <!-- <script src="//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js"></script>
        <script src="//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js"></script> -->
        <script>


            function loadIframe(municipio) {
                var iframe = document.getElementById('iframe_aemet_id33044');
                iframe.src = 'https://www.aemet.es/es/eltiempo/prediccion/municipios/mostrarwidget/' + municipio;


            }
            async function cargarNumeroPluviometros() {
                try {
                    const response = await fetch('api/pluviometros/count', {
                        method: 'GET',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                            'Authorization': sessionStorage.token
                        }
                    });
                    const data = await response.json();
                    alert('Número de pluviómetros:' + data);
                    document.getElementById('pluviometros-count').textContent = data;
                } catch (error) {
                    console.error('Error al cargar el número de pluviómetros:', error);
                }
            }

            window.onload = function () {
                alert('La página se ha cargado correctamente.'); // Verifica si la página se ha cargado correctamente
                loadIframe('murcia-id30030');
                cargarNumeroPluviometros();
            }

        </script>
    </th:block>
</body>
</html>