<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head th:replace="~{layout/layout :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body>


<!-- Begin Page Content -->
    <div class="container-fluid" layout:fragment="page-content">

    <!-- Page Heading -->
        <h1 class="h4 mb-2 text-gray-800">Datos Pluviometría</h1>
        <h1 class="h4 mb-2 text-gray-800">Filtros</h1>
        <div class="mb-4">
            <label for="selectPluviometros" class="form-label">Seleccionar Pluviometro</label>
             <select class="form-control" id="selectPluviometros">
        </select>
    </div>
    <div class="mb-4">
        <input type="checkbox" id="eliminarceros">
        <label for="eliminarceros">Solo Días Lluvia</label>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Gestion Usuarios Pluviometria</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="registros" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Pluviometro</th>
                        <th>Litros/m<sup>2</sup></th>
                        <th>Acciones</th>
                    </tr>
                    </thead>

                    <tbody>


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


</body>
<!--OTRO SCRIPTS PARA PAGINAS-->
<th:block layout:fragment="page-scripts">
    <script src="js/comunes.js"></script>
    <script src="js/registrosDiarios.js"></script>
</th:block>
</html>